/* FONTS */

@font-face {
  font-family: 'SegoeUI-Bold';
  src: url("../../../fonts/segoeUI-bold/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/segoeUI-bold/SegoeUI-Bold.woff") format("woff"), url("../../../fonts/segoeUI-bold/SegoeUI-Bold.ttf") format("truetype"), url("../../../fonts/segoeUI-bold/SegoeUI-Bold.svg#SegoeUI-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-Italic';
  src: url("../../../fonts/segoeUI-italic/SegoeUI-Italic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/segoeUI-italic/SegoeUI-Italic.woff") format("woff"), url("../../../fonts/segoeUI-italic/SegoeUI-Italic.ttf") format("truetype"), url("../../../fonts/segoeUI-italic/SegoeUI-Italic.svg#SegoeUI-Italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url("../../../fonts/segoeUI-regular/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../../../fonts/segoeUI-regular/SegoeUI.woff") format("woff"), url("../../../fonts/segoeUI-regular/SegoeUI.ttf") format("truetype"), url("../../../fonts/segoeUI-regular/SegoeUI.svg#SegoeUI") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-Semibold';
  src: url("../../../fonts/segoeUI-semibold/SegoeUI-Semibold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/segoeUI-semibold/SegoeUI-Semibold.woff") format("woff"), url("../../../fonts/segoeUI-semibold/SegoeUI-Semibold.ttf") format("truetype"), url("../../../fonts/segoeUI-semibold/SegoeUI-Semibold.svg#SegoeUI-Semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../../../fonts/roboto_bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/roboto_bold/Roboto-Bold.woff") format("woff"), url("../../../fonts/roboto_bold/Roboto-Bold.ttf") format("truetype"), url("../../../fonts/roboto_bold/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../../../fonts/roboto_light/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../../../fonts/roboto_light/Roboto-Light.woff") format("woff"), url("../../../fonts/roboto_light/Roboto-Light.ttf") format("truetype"), url("../../../fonts/roboto_light/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../../../fonts/roboto_regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/roboto_regular/Roboto-Regular.woff") format("woff"), url("../../../fonts/roboto_regular/Roboto-Regular.ttf") format("truetype"), url("../../../fonts/roboto_regular/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../../../fonts/roboto_medium/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../../../fonts/roboto_medium/Roboto-Medium.woff") format("woff"), url("../../../fonts/roboto_medium/Roboto-Medium.ttf") format("truetype"), url("../../../fonts/roboto_medium/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* FONTS END*/

/* VAR FONTS */

/* VAR FONTS END */

/*****************/

/* NORMALIZE CSS */

html {
  /* Change default typefaces here */
  font-family: serif;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  cursor: pointer;
}

p {
  margin-bottom: 0;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin: 0;
}

ol,
ul {
  margin: 0;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #000;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
td img {
  vertical-align: top;
}

input,
select,
button,
textarea {
  margin: 0;
  font-size: 100%;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

/*****************************************************************************************/

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
input {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Roboto', sans-serif;
}

button {
  border: none;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background: none;
  cursor: pointer;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

/* remember to define focus styles! */

:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------*/

img {
  line-height: 0;
  font-size: 0;
}

menu {
  padding: 0;
  margin: 0;
}

/*----------- reset CSS ----------*/

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* END NORMALIZE CSS */

/*********************/

/* SVG FONTS */

@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/svg-fonts/fonts/icomoon.eot?vu86xw");
  src: url("../../fonts/svg-fonts/fonts/icomoon.eot?vu86xw#iefix") format("embedded-opentype"), url("../../fonts/svg-fonts/fonts/icomoon.ttf?vu86xw") format("truetype"), url("../../fonts/svg-fonts/fonts/icomoon.woff?vu86xw") format("woff"), url("../../fonts/svg-fonts/fonts/icomoon.svg?vu86xw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  display: inline-block;
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.icon-arrow-drop-top:before {
  content: "\e900";
}

.icon-dotdotdot:before {
  content: "\e901";
}

.icon-filter:before {
  content: "\e902";
}

.icon-plus:before {
  content: "\e903";
}

.icon-search:before {
  content: "\e904";
}

.icon-sidemenu-button:before {
  content: "\e905";
}

.icon {
  -webkit-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
}

/* SVG FONTS END */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none !important;
}

body {
  min-width: 768px;
  background-color: #eeeeee;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a,
button {
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  border: 0;
  font-family: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

::-moz-selection {
  color: #5460f1;
  background: #fff;
}

::selection {
  color: #5460f1;
  background: #fff;
}

/*! Typebase.less v0.1.0 | MIT License */

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  line-height: 1.5rem;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

/* Copy & Lists */

p,
blockquote {
  font-size: 14px;
  line-height: 1.5;
}

.text-uppercase {
  text-transform: uppercase;
}

/* header */

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
  padding-left: 240px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  -webkit-box-shadow: 0 9px 21px rgba(22, 32, 72, 0.3);
  box-shadow: 0 9px 21px rgba(22, 32, 72, 0.3);
  background-color: #1b2e58;
  -webkit-transition: padding-left .25s ease-in-out;
  transition: padding-left .25s ease-in-out;
}

._js-open-menu .header {
  padding-left: 80px;
}

.header__wrap {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 29px;
  padding-right: 23px;
  -webkit-transition: padding-left .25s ease-in-out;
  transition: padding-left .25s ease-in-out;
}

._js-open-menu .header__wrap {
  padding-left: 69px;
}

.header__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__title {
  color: #f2f8fa;
  font-family: "SegoeUI-Semibold", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 15.69px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.header__user {
  height: 100%;
}

.header__notification {
  margin-right: 12px;
  height: 100%;
}

/* header end */

/* footer */

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding-left: 240px;
  -webkit-transition: padding-left .25s ease-in-out;
  transition: padding-left .25s ease-in-out;
}

._js-open-menu .footer {
  padding-left: 80px;
}

.footer__pagination {
  background-color: #eeeeee;
  text-align: right;
  padding: 16px 24px 16px 18px;
}

/* end footer */

/* sidebar */

.sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  width: 240px;
  background-color: #1b2e58;
  -webkit-transition: width .25s ease-in-out 0s;
  transition: width .25s ease-in-out 0s;
}

._js-open-menu .sidebar {
  width: 80px;
}

.sidebar__top {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 64px;
  -ms-flex-preferred-size: 64px;
  flex-basis: 64px;
  height: 64px;
  background-color: #1b2e58;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 23px;
  padding-right: 18px;
  border-right: 1px solid #12213e;
}

.sidebar__top .logo {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: block;
  margin-top: -4px;
  overflow: hidden;
  width: 147px;
  -webkit-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
}

.sidebar__top .logo img {
  width: 147px;
  -o-object-fit: none;
  object-fit: none;
  max-width: none;
}

._js-open-menu .sidebar__top .logo {
  width: 35px;
}

.sidebar__top .btn-menu {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  right: 0;
  width: 18px;
  height: 14px;
  margin-top: -5px;
  -webkit-transition: right .25s ease-in-out;
  transition: right .25s ease-in-out;
}

._js-open-menu .sidebar__top .btn-menu {
  right: -50px;
}

.sidebar__top .btn-menu i.icon {
  font-size: 14px;
  color: #a2a9b8;
}

.sidebar__top .btn-menu:hover i.icon {
  color: #ffffff;
}

.sidebar__scoreboard {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-top: 12px;
}

.sidebar__list-group {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 15px;
  overflow-y: auto;
}

._js-open-menu .sidebar__list-group {
  overflow: visible;
}

.sidebar__list-group .mCSB_inside > .mCSB_container {
  margin-right: 0;
}

.sidebar__list-group .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #12213e;
}

.sidebar__list-group .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

/* sidebar end */

/* app main */

.app {
  position: relative;
  margin: auto;
  height: 100vh;
  -webkit-box-shadow: 0 -9px 21px rgba(22, 32, 72, 0.07);
  box-shadow: 0 -9px 21px rgba(22, 32, 72, 0.07);
}

/* app main end */

/* main */

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 64px 8px 98px 240px;
  background-color: #eeeeee;
  -webkit-transition: padding-left .25s ease-in-out;
  transition: padding-left .25s ease-in-out;
}

._js-open-menu .main {
  padding-left: 80px;
}

.main__controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 20px 15px 18px 22px;
}

.main__wrap-table {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  height: 100%;
}

.main__wrap-table .table {
  position: absolute;
  top: 0;
  right: 0;
  left: 16px;
  bottom: 0;
}

.main__sorting {
  padding: 0 15px 18px 18px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: -1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main__sorting .btn:not(:last-child) {
  margin-right: 4px;
}

/* main end */

/* controls */

.controls__nav-tabs {
  padding-right: 15px;
}

.controls__bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 11px;
}

.controls__calendar {
  position: relative;
  padding-right: 28px;
  margin-right: 34px;
}

.controls__calendar:after {
  position: absolute;
  content: '';
  top: 4px;
  right: 0;
  z-index: 1;
  width: 1px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.2);
}

/* controls end */

/* table */

.table__scroll {
  overflow-y: auto;
  height: 100%;
}

.table__scroll .mCSB_inside > .mCSB_container {
  margin-right: 16px;
}

.table__scroll .mCustomScrollBox {
  padding-bottom: 45px;
}

.table__scroll .mCSB_scrollTools {
  opacity: 1;
  width: 6px;
  bottom: 46px;
}

.table__scroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #02c3c8;
  width: 100%;
}

.table__scroll .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

.table__head {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-bottom: 14px;
  padding-right: 16px;
}

.table__head .table__row {
  background-color: #eeeeee;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 0 15px;
}

.table__head .table__cell {
  color: #a2a9b8;
}

.table__head .table__cell:nth-child(1) {
  padding-left: 0;
}

.table__head .table__cell:nth-child(2) {
  padding-left: 2px;
}

.table__head .table__cell:nth-child(3) {
  margin-left: -1px;
}

.table__head .table__cell:nth-child(4) {
  padding-left: 1px;
}

.table__head .table__cell:nth-child(5) {
  padding-left: 1px;
}

.table__head .table__cell:nth-child(6) {
  margin-left: -1px;
}

.table__body + .table__body {
  margin-top: 8px;
}

.table__body .table__row {
  padding: 20px 15px;
}

.table__body .table__cell {
  color: #58666e;
}

.table__body .table__cell:nth-child(1) {
  padding-left: 0;
}

.table__body .table__cell:nth-child(2) {
  padding-left: 4px;
}

.table__body .table__cell:nth-child(3) {
  margin-left: -1px;
}

.table__body .table__cell:nth-child(4) {
  padding-left: 2px;
}

.table__body .table__cell:nth-child(5) {
  padding-left: 3px;
}

.table__body .table__cell:nth-child(6) {
  padding-left: 0;
}

.table__subtitle {
  position: relative;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: -5px;
  background-color: #ffffff;
}

.table__subtitle:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 15px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  z-index: 1;
}

.table__text-line {
  position: relative;
  z-index: 1;
  padding-right: 12px;
  color: #58666e;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  font-family: "SegoeUI-Bold", sans-serif;
  background-color: #ffffff;
}

.table__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
}

.table__row:not(:last-child) {
  margin-bottom: 1px;
}

.table__cell {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-family: "SegoeUI", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.table__cell:nth-child(1) {
  width: 18%;
}

.table__cell:nth-child(2) {
  width: 18%;
}

.table__cell:nth-child(3) {
  width: 17%;
}

.table__cell:nth-child(4) {
  width: 19.5%;
}

.table__cell:nth-child(5) {
  width: 18%;
}

.table__cell:nth-child(6) {
  width: 9.5%;
}

.table__cell_bold {
  font-weight: 700;
}

.table__cell:last-child {
  -webkit-flex-shrink: 1.25;
  -ms-flex-negative: 1.25;
  flex-shrink: 1.25;
}

/* table end */

/* calendar */

.calendar {
  position: relative;
}

.calendar__filter {
  white-space: nowrap;
  font-size: 0;
  margin-top: -1px;
}

.calendar__text {
  margin-top: -3px;
  display: inline-block;
  vertical-align: middle;
  color: #58666e;
  font-family: "SegoeUI", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.69px;
}

.calendar__limit {
  margin-top: -3px;
  display: inline-block;
  vertical-align: middle;
  color: #02c3c8;
  font-family: "SegoeUI-Semibold", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.69px;
  padding-left: 6px;
  padding-right: 7px;
}

.calendar__link {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  -webkit-box-shadow: 0 9px 21px rgba(22, 32, 72, 0.15);
  box-shadow: 0 9px 21px rgba(22, 32, 72, 0.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
}

.calendar__link i.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -5px;
  font-size: 10px;
  color: #02c3c8;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform .1s ease-in-out;
  transition: -webkit-transform .1s ease-in-out;
  transition: transform .1s ease-in-out;
  transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
}

.calendar__link._js-arrow-up i.icon {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.calendar__datepicker {
  position: absolute;
  top: -webkit-calc(100% + 10px);
  top: calc(100% + 10px);
  right: 28px;
  z-index: 10;
  display: none;
  -webkit-animation: fadeOut .3s;
  animation: fadeOut .3s;
}

.calendar__datepicker._js-datepicker-open {
  display: block;
  -webkit-animation: fadeIn .3s;
  animation: fadeIn .3s;
}

/* calendar end */

/* datepicker */

.datepicker {
  padding: 0;
  width: 543px;
  -webkit-box-shadow: 0 9px 21px rgba(22, 32, 72, 0.15);
  box-shadow: 0 9px 21px rgba(22, 32, 72, 0.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
}

.datepicker__select {
  font-size: 0;
  padding: 22px 20px 18px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.datepicker__bottom {
  padding: 25px 23px 23px 19px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.datepicker__cancel {
  margin-left: auto;
  margin-right: 15px;
  display: inline-block;
  color: #58666e;
  line-height: 2;
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.datepicker__cancel:hover {
  color: #02c3c8;
}

.datepicker__info {
  color: #58666e;
  font-family: "SegoeUI-Semibold", sans-serif;
}

.datepicker__info_one {
  padding-right: 23px;
  position: relative;
}

.datepicker__info_one:after {
  content: '';
  position: absolute;
  right: 6px;
  top: 5px;
  width: 9px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  height: 6px;
  background: url(../../../img/svg/icon-open-arrow.svg) no-repeat center top;
}

.datepicker__info_two {
  position: relative;
}

.datepicker__info_two:after {
  position: absolute;
  content: '';
  top: 0;
  right: -33px;
  width: 1px;
  height: 16px;
  background-color: #dedede;
  z-index: 1;
}

.datepicker__btn {
  min-width: 80px;
  padding: 8px 15px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #02c3c8;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-family: "SegoeUI-Semibold", sans-serif;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

.datepicker__btn:active,
.datepicker__btn:focus {
  color: #ffffff;
}

.datepicker__btn:hover {
  background-color: #02959a;
}

.datepicker__text {
  display: inline-block;
  color: #8898a0;
  font-size: 14px;
  font-weight: 400;
  padding-right: 13px;
}

.datepicker__default {
  display: inline-block;
  font-family: "SegoeUI-Bold", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #02c3c8;
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.datepicker__default:not(:last-child) {
  padding-right: 26px;
}

.datepicker__default:hover {
  color: #8898a0;
}

.datepicker__default:last-child {
  padding-right: 0;
}

/* end datepicker */

/* pickmeup */

.pickmeup .pmu-instance {
  width: 50%;
  height: auto;
  padding-bottom: 5px;
}

.pickmeup .pmu-instance:first-child {
  border-right: 1px solid #eeeeee;
}

.pickmeup {
  background: #ffffff;
}

.pmu-instance nav .pmu-days .pmu-button {
  color: #58666e;
  font-size: 18px;
  line-height: 1;
}

.pmu-instance .pmu-days .pmu-button {
  color: rgba(88, 102, 110, 0.9);
  -webkit-border-radius: 0;
  border-radius: 0;
}

.pmu-instance .pmu-days .pmu-button:hover {
  background: url(../../../img/svg/icon-rect.svg) no-repeat center center;
  color: #ffffff;
  font-family: "SegoeUI-Bold", sans-serif;
  text-transform: uppercase;
}

.pickmeup .pmu-instance .pmu-selected {
  background-color: rgba(2, 195, 200, 0.1);
  color: #02c3c8;
  font-family: "SegoeUI-Bold", sans-serif;
  text-transform: uppercase;
}

.pickmeup .pmu-instance .pmu-today {
  background: url(../../../img/svg/icon-rect.svg) no-repeat center center;
  color: #ffffff;
}

.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
  background-color: rgba(2, 195, 200, 0.1);
}

.pickmeup .pmu-instance .pmu-not-in-month {
  color: rgba(136, 152, 160, 0.9);
}

.pickmeup .pmu-days .pmu-button {
  font-family: "SegoeUI", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.pickmeup .pmu-instance .pmu-selected.pmu-first-last {
  background: rgba(2, 195, 200, 0.1) url(../../../img/svg/icon-rect.svg) no-repeat center center;
  color: #ffffff;
}

.pickmeup .pmu-instance nav .pmu-button {
  color: #58666e;
  font-size: 18px;
  line-height: 1.45;
}

.pickmeup .pmu-instance .pmu-button:hover {
  color: #02959a;
}

.pickmeup .pmu-instance nav {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pickmeup .pmu-instance:first-child .pmu-prev,
.pickmeup .pmu-instance:last-child .pmu-next,
.pickmeup .pmu-instance nav .pmu-next,
.pickmeup .pmu-instance nav .pmu-prev {
  display: inline-block;
  font-size: 0;
  width: 10px;
  height: 6px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background: url(../../../img/svg/icon-open-arrow.svg) no-repeat center top/contain;
  vertical-align: middle;
}

.pickmeup .pmu-instance:last-child .pmu-next,
.pickmeup .pmu-instance nav .pmu-next {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.pickmeup .pmu-instance:last-child .pmu-next:hover,
.pickmeup .pmu-instance nav .pmu-next:hover {
  background: url(../../../img/svg/icon-open-arrow.svg) no-repeat center top/contain;
}

.pickmeup .pmu-instance:first-child {
  padding: .5em 1.35em .5em .87em;
  padding-top: 11px;
}

.pickmeup .pmu-instance:last-child {
  padding: .5em 1.2em .5em 1.05em;
  padding-top: 11px;
}

.pickmeup .pmu-instance nav {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pickmeup .pmu-instance:first-child > nav:first-child {
  padding: 0 1.15em 0 1.05em;
}

.pickmeup .pmu-instance:last-child > nav:first-child {
  padding: 0 1.25em 0 .99em;
}

.pickmeup .pmu-instance .pmu-day-of-week * {
  color: rgba(136, 152, 160, 0.9);
  font-size: 13px;
  text-transform: uppercase;
  width: 2.5em;
}

.pickmeup .pmu-instance .pmu-day-of-week *:last-child {
  color: #f33155;
}

.pickmeup .pmu-instance:first-child .pmu-month,
.pickmeup .pmu-instance:last-child .pmu-month {
  width: 10.5em;
}

.pickmeup .pmu-instance .pmu-day-of-week {
  padding-top: 2px;
  padding-bottom: 2px;
  width: 96%;
  margin: auto;
}

.pickmeup .pmu-instance .pmu-day-of-week *,
.pickmeup .pmu-instance .pmu-days * {
  line-height: 1.95em;
}

/* end pickmeup */

/* filter */

.filter {
  position: relative;
  z-index: 3;
}

.filter__btn {
  font-size: 0;
}

.filter__text {
  position: relative;
  z-index: 11;
  color: #8898a0;
  font-family: "SegoeUI-Semibold", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.69px;
  padding-right: 13px;
}

.filter__icon {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 11;
  color: #8898a0;
  font-size: 14px;
  margin-right: -2px;
  margin-left: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.filter__icon.icon-plus {
  font-size: 20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* filter end */

/* filter-drop */

.filter-drop {
  padding-top: 40px;
  padding-bottom: 81px;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 1017px;
  max-width: 100vw;
  background-color: #ffffff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 82vh;
  -webkit-box-shadow: 0 2px 10px rgba(22, 32, 72, 0.2);
  box-shadow: 0 2px 10px rgba(22, 32, 72, 0.2);
  -webkit-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
}

.filter-drop__head {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  padding-left: 24px;
  -webkit-box-shadow: 0 2px 10px rgba(22, 32, 72, 0.1);
  box-shadow: 0 2px 10px rgba(22, 32, 72, 0.1);
}

.filter-drop__main {
  position: absolute;
  top: 40px;
  bottom: 81px;
  left: 0;
  right: 0;
  overflow-y: auto;
  max-height: 744px;
  padding: 10px 2px 10px 24px;
}

.filter-drop__main .mCSB_inside > .mCSB_container {
  margin-right: 16px;
  padding-bottom: 45px;
}

.filter-drop__main .mCSB_scrollTools {
  opacity: 1;
  width: 6px;
}

.filter-drop__main .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #02c3c8;
  width: 100%;
}

.filter-drop__main .mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

.filter-drop__btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #ffffff;
  text-align: center;
  padding: 24px 0;
  border-top: 1px solid #dedede;
}

.filter-drop-border-right {
  border-right: 1px solid #dedede;
}

.filter-drop__subtitle {
  width: 100%;
  font-family: "SegoeUI", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #58666e;
  margin-bottom: 15px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.filter-drop__time {
  font-size: 0;
}

.filter-drop__time span {
  font-family: "SegoeUI", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #58666e;
  margin-right: 11px;
  letter-spacing: -.15px;
}

.filter-drop__time i.icon {
  color: #02c3c8;
  font-size: 8px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.filter-drop__toggle {
  position: absolute;
  bottom: 24px;
  left: 12.8%;
  z-index: 1;
  font-size: 0;
}

.filter-drop__toggle span {
  vertical-align: middle;
  font-family: "SegoeUI", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #58666e;
  padding-right: 15px;
}

.filter-drop__toggle i {
  margin-top: 4px;
  color: #02c3c8;
  font-size: 8px;
  vertical-align: middle;
}

.filter-drop__toggle.active i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: -1px;
}

.filter-drop__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: -32px;
}

.filter-drop__row + .filter-drop__row {
  margin-top: 34px;
}

.filter-drop__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.filter-drop__col-narrow {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 30%;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
  max-width: 30%;
}

.filter-drop__col-wide {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 70%;
  -ms-flex: 1 0 70%;
  flex: 1 0 70%;
  max-width: 70%;
  padding-left: 32px;
}

.filter-drop__checkbox-list {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  max-width: 50%;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 100%;
}

.filter-drop__select-list {
  padding-right: 32px;
  margin-bottom: 20px;
}

.filter-drop__select-list .select,
.filter-drop__select-list .input {
  max-width: 200px;
  width: 100%;
}

.filter-drop__select-list ul li + li {
  margin-top: 14px;
}

/* filter-drop end */

/* checkbox */

.checkbox-list ul li + li {
  margin-top: 7px;
}

.checkbox {
  display: inline-block;
  white-space: nowrap;
  font-size: 0;
}

.checkbox input {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.checkbox input:checked + i {
  border-color: #02c3c8;
  background-color: #02c3c8;
}

.checkbox input:checked + i:after {
  opacity: 1;
}

.checkbox i {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #dedede;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-right: 9px;
  -webkit-transition: border-color .25s ease-in-out, background-color .25s ease-in-out;
  transition: border-color .25s ease-in-out, background-color .25s ease-in-out;
}

.checkbox i:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  background-image: url("../../../img/svg/ok.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 10px;
  opacity: 0;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.checkbox span {
  vertical-align: middle;
  font-family: "SegoeUI", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #58666e;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: .3px;
}

/* checkbox end */

/* select */

.select {
  width: 100%;
  max-width: 200px;
  height: 34px;
  cursor: pointer;
  position: relative;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #dedede;
  -webkit-transition: border-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: border-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  background-color: #ffffff;
}

.select p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 40px 0 10px;
  height: 100%;
  font-size: 0;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select p span {
  font-family: "SegoeUI", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #58666e;
  line-height: 20px;
}

.select p::after {
  position: absolute;
  content: '';
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
  z-index: 2;
  background-image: url("../../../img/svg/arr.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 9px;
  height: 6px;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.select p.active::after {
  -webkit-transform: translateY(-50%) rotate(0deg);
  -ms-transform: translateY(-50%) rotate(0deg);
  transform: translateY(-50%) rotate(0deg);
}

.select .ul {
  overflow-y: auto;
  max-height: 150px;
  list-style: none;
  display: none;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 100%;
  z-index: 1071;
  background-color: #ffffff;
  border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-left: 1px solid #f0f4f7;
  border-right: 1px solid #f0f4f7;
  border-bottom: 1px solid #f0f4f7;
  border-top: 1px solid #f0f4f7;
  -webkit-transition: border-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: border-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.select .ul .li {
  list-style: none;
  position: relative;
  padding: 10px 10px;
  font-size: 0;
}

.select .ul .li span {
  vertical-align: middle;
  font-family: "SegoeUI", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #58666e;
  line-height: 20px;
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.select .ul .li:not(:last-child):after {
  position: absolute;
  content: '';
  top: 100%;
  left: 10px;
  right: 10px;
  height: 1px;
  z-index: 1;
  background-color: #f2f5f7;
}

.select .ul .li:hover span {
  color: #02c3c8;
}

.select:hover {
  border-color: #dedede;
}

.select:hover .ul {
  border-left-color: #dedede;
  border-right-color: #dedede;
  border-bottom-color: #dedede;
  border-top-color: #dedede;
}

/* select end */

/* input */

.input {
  width: 100%;
  max-width: 200px;
  height: 34px;
  cursor: pointer;
  position: relative;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #dedede;
  -webkit-transition: border-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: border-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  background-color: #ffffff;
  font-family: "SegoeUI", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #58666e;
}

.input label {
  display: block;
  width: 100%;
  height: 100%;
}

.input label input {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.input::-webkit-input-placeholder {
  font-family: "SegoeUI", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #58666e;
}

.input::-moz-placeholder {
  font-family: "SegoeUI", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #58666e;
}

.input:-ms-input-placeholder {
  font-family: "SegoeUI", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #58666e;
}

.input::placeholder {
  font-family: "SegoeUI", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #58666e;
}

.input:hover {
  border-color: #c5c3d8;
}

/* input end */

.btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1;
  font-family: "SegoeUI", sans-serif;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 9px 21px rgba(22, 32, 72, 0.15);
  box-shadow: 0 9px 21px rgba(22, 32, 72, 0.15);
  -webkit-transition: background-color .25s ease-in-out, color .15s ease-in-out;
  transition: background-color .25s ease-in-out, color .15s ease-in-out;
}

.btn-sm {
  padding: 8px;
}

.btn-md {
  padding: 8px 15px;
}

.btn-lg {
  padding: 12px 17px;
  font-size: 16px;
}

.btn-primary {
  background-color: #02c3c8;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #02959a;
}

.btn-light {
  background-color: #ffffff;
  color: #8898a0;
}

.btn-light:hover {
  color: #000000;
}

.btn-light:hover .icon {
  color: #000000;
}

/* pagination */

.pagination {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pagination__prev {
  margin-right: 2px;
}

.pagination__next {
  margin-left: 12px;
}

.pagination__btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: background-color .25s ease-in-out, -webkit-box-shadow .25s ease-in-out;
  transition: background-color .25s ease-in-out, -webkit-box-shadow .25s ease-in-out;
  transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
  transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out, -webkit-box-shadow .25s ease-in-out;
}

.pagination__btn:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 9px 21px rgba(22, 32, 72, 0.15);
  box-shadow: 0 9px 21px rgba(22, 32, 72, 0.15);
}

.pagination__btn .icon {
  color: #02c3c8;
  font-size: 12px;
}

.pagination__calc span {
  color: #02c3c8;
  font-family: "SegoeUI-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.69px;
  vertical-align: middle;
}

.pagination__current {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  text-align: center;
  border: 1px solid #dedede;
}

.pagination__current + span {
  margin-left: 6px;
}

.pagination__all {
  margin-left: 3px;
}

/* pagination end */

/* nav-tabs */

.nav-tabs {
  font-size: 0;
}

.nav-tabs__item {
  display: inline-block;
  vertical-align: top;
}

.nav-tabs__item:not(:last-child) {
  position: relative;
  padding-right: 27px;
  margin-right: 31px;
}

.nav-tabs__item:not(:last-child):after {
  position: absolute;
  content: '';
  top: 23px;
  left: 100%;
  width: 1px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-tabs__item.padding-publishers {
  padding-right: 34px;
  margin-right: 33px;
}

.nav-tabs__link {
  display: block;
  border-bottom: 2px solid transparent;
  color: #58666e;
  font-family: "SegoeUI", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 2.2;
  -webkit-transition: border .25s ease-in-out, color .25s ease-in-out;
  transition: border .25s ease-in-out, color .25s ease-in-out;
}

.nav-tabs__link.active {
  color: #1b2e58;
  border-bottom-color: rgba(27, 46, 88, 0.76);
}

.nav-tabs__link:hover {
  color: #1b2e58;
}

/* nav-tabs end */

/* user */

.user {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.user__avatar {
  margin-right: 18px;
  margin-top: -2px;
}

.user__img {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.user__select {
  position: relative;
  padding-right: 32px;
  cursor: pointer;
  margin-top: -1px;
}

.user__select--arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(0deg) translateY(-50%);
  -ms-transform: rotate(0deg) translateY(-50%);
  transform: rotate(0deg) translateY(-50%);
  right: 0;
  font-size: 13px;
  color: #ffffff;
  margin-top: 1px;
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.user__select--arrow._drop {
  -webkit-transform: rotate(180deg) translateY(-50%);
  -ms-transform: rotate(180deg) translateY(-50%);
  transform: rotate(180deg) translateY(-50%);
  margin-top: -12px;
  color: #02c3c8;
}

.user__name {
  display: block;
  color: #ffffff;
  font-family: "SegoeUI", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: .4px;
}

.user__status {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-family: "SegoeUI-Semibold", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
}

.user__drop {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: #12213e;
  text-align: center;
  z-index: 1;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 3px 5px rgba(22, 32, 72, 0.3);
  box-shadow: 0 3px 5px rgba(22, 32, 72, 0.3);
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: opacity .25s ease-in-out, visibility .25s ease-in-out, -webkit-transform .25s ease-in-out;
  transition: opacity .25s ease-in-out, visibility .25s ease-in-out, -webkit-transform .25s ease-in-out;
  transition: opacity .25s ease-in-out, visibility .25s ease-in-out, transform .25s ease-in-out;
  transition: opacity .25s ease-in-out, visibility .25s ease-in-out, transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}

.user__drop._drop {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* user end */

/* drop-list */

.drop-list__row:not(:last-child) {
  position: relative;
}

.drop-list__row:not(:last-child):after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #32415e;
  z-index: 1;
}

.drop-list__link {
  display: block;
  padding: 20px 0;
  color: #ffffff;
  font-family: "SegoeUI", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: .4px;
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.drop-list__link:hover {
  color: #02c3c8;
}

/* end drop-list */

/* notification */

.notification {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
}

.notification__icon {
  color: #ffffff;
  font-size: 19px;
  -webkit-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
}

.active .notification__icon {
  color: #02c3c8;
}

.notification__count {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -webkit-calc(100% - 20px);
  left: calc(100% - 20px);
  margin-top: -7px;
  color: #ffffff;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  -webkit-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
}

.active .notification__count {
  color: #02c3c8;
}

/* notification end */

/* scoreboard */

.scoreboard {
  border: 1px solid #12213e;
  background-color: #12213e;
}

.scoreboard__row {
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.scoreboard__item {
  opacity: 1;
  visibility: visible;
  height: auto;
  position: relative;
  padding-bottom: 19px;
  width: 50%;
  -webkit-transition: opacity .25s ease-in-out .25s, visibility .25s ease-in-out .25s, padding .25s ease-in-out, height .25s ease-in-out;
  transition: opacity .25s ease-in-out .25s, visibility .25s ease-in-out .25s, padding .25s ease-in-out, height .25s ease-in-out;
}

.scoreboard__item:first-child {
  padding-left: 22px;
}

.scoreboard__item:last-child {
  padding-left: 11px;
}

._js-open-menu .scoreboard__item:last-child {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
  transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
}

.scoreboard__subtitle {
  padding-left: 1px;
  margin-bottom: 1px;
  color: rgba(255, 255, 255, 0.3);
  font-family: "SegoeUI-Semibold", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.scoreboard__subtitle--menu-max {
  display: block;
}

._js-open-menu .scoreboard__subtitle--menu-max {
  display: none;
}

.scoreboard__subtitle--menu-min {
  display: none;
  white-space: nowrap;
}

._js-open-menu .scoreboard__subtitle--menu-min {
  display: block;
}

.scoreboard__number {
  font-size: 0;
  white-space: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.scoreboard__integer {
  display: inline-block;
  min-width: 29px;
  margin-right: 3px;
  color: #ffffff;
  font-family: "SegoeUI-Semibold", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  vertical-align: baseline;
}

.scoreboard__percent {
  color: inherit;
  font-family: "SegoeUI-Semibold", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  vertical-align: baseline;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
  transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
}

.scoreboard__number_positive .scoreboard__percent {
  color: #0dbc00;
}

.scoreboard__number_negative .scoreboard__percent {
  color: #f33155;
}

._js-open-menu .scoreboard__percent {
  opacity: 0;
  visibility: hidden;
}

.scoreboard__time .scoreboard__integer {
  letter-spacing: 0.2px;
}

.scoreboard__change-menu-max {
  display: inline-block;
}

._js-open-menu .scoreboard__change-menu-max {
  display: none;
}

.scoreboard__change {
  position: absolute;
  left: 7px;
  top: 2px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
  transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
}

._js-open-menu .scoreboard__change {
  opacity: 1;
  visibility: visible;
}

.scoreboard__change .icon {
  font-size: 6px;
}

.scoreboard__change_negative {
  top: 6px;
  color: #f33155;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.scoreboard__change_positive {
  color: #0dbc00;
}

/* scoreboard end */

/* list-group */

.list-group__group {
  padding-bottom: 10px;
}

.list-group__group:not(:last-child) {
  position: relative;
  margin-bottom: 14px;
}

.list-group__group:not(:last-child):after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 31px;
  right: 23px;
  height: 1px;
  background-color: #32415e;
  z-index: 1;
}

.list-group__row {
  position: relative;
}

.list-group__item {
  display: block;
  position: relative;
  padding: 14px 17px 15px 63px;
}

.list-group__item:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #02c3c8;
  -webkit-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
}

.list-group__item.selected {
  background-color: #12213e;
}

.list-group__item.selected:before {
  width: 4px;
}

.list-group__item.selected .list-group__icon {
  color: #02c3c8;
}

.list-group__item.selected .list-group__text {
  color: #02c3c8;
  letter-spacing: 0.14px;
}

.list-group__item:hover .list-group__icon {
  color: #02c3c8;
}

.list-group__item:hover .list-group__icon.fa-usd {
  color: #32415e;
  background-color: #02c3c8;
}

.list-group__item:hover .list-group__text {
  color: #02c3c8;
}

.list-group__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 29px;
  color: #ffffff;
  z-index: 1;
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.list-group__icon.fa-table {
  font-size: 18px;
}

.list-group__icon.fa-line-chart {
  font-size: 18px;
}

.list-group__icon.fa-usd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #32415e;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 14px;
  width: 20px;
  height: 20px;
  -webkit-transition: color .25s ease-in-out, background-color .25s ease-in-out;
  transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

.list-group__icon.fa-check {
  font-size: 18px;
}

.list-group__icon.fa-file {
  font-size: 18px;
}

.list-group__list-icon-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
  color: #02c3c8;
  font-size: 13px;
  -webkit-transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
  transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
}

._js-open-menu .list-group__list-icon-arrow {
  opacity: 0;
  visibility: hidden;
}

.list-group__text {
  opacity: 1;
  visibility: visible;
  color: #ffffff;
  font-family: "SegoeUI", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.14px;
  -webkit-transition: color .25s ease-in-out, opacity .25s ease-in-out, visibility .25s ease-in-out;
  transition: color .25s ease-in-out, opacity .25s ease-in-out, visibility .25s ease-in-out;
}

._js-open-menu .list-group__text {
  opacity: 0;
  visibility: hidden;
}

.list-group__notice {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 37px;
  display: block;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #02c3c8;
  opacity: 0.8;
  color: #12213e;
  font-family: "SegoeUI-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  padding: 5px 3px 7px 2px;
  -webkit-transition: right .25s ease-in-out, font-size .25s ease-in-out, top .25s ease-in-out, padding .25s ease-in-out;
  transition: right .25s ease-in-out, font-size .25s ease-in-out, top .25s ease-in-out, padding .25s ease-in-out;
}

._js-open-menu .list-group__notice {
  top: 35%;
  right: 8px;
  font-size: 10px;
  padding: 5px 2px 5px 2px;
}

.list-group__drop {
  display: none;
  background-color: #12213e;
  padding: 10px 0;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

._js-open-menu .list-group__drop {
  position: absolute;
  left: 100%;
  top: 0;
  width: 240px;
  z-index: 1;
  padding: 20px 0;
  -webkit-transition: left .25s ease-in-out;
  transition: left .25s ease-in-out;
}

.list-group__list._js-drop {
  background-color: #12213e;
}

.list-group__list._js-drop.list-group__item:before {
  width: 4px;
}

.list-group__list._js-drop + .list-group__drop:before {
  width: 4px;
}

.list-group__list._js-drop .list-group__list-icon-arrow {
  -webkit-transform: rotate(90deg) translateY(-50%);
  -ms-transform: rotate(90deg) translateY(-50%);
  transform: rotate(90deg) translateY(-50%);
  margin-right: 6px;
  margin-top: -4px;
}

/* list-group end */

/* sublist-group */

.sublist-group__title {
  display: none;
  position: relative;
  color: #ffffff;
  font-family: "SegoeUI", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.14px;
  padding: 0 33px 15px 56px;
  margin-bottom: 15px;
}

.sublist-group__title:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 56px;
  right: 33px;
  border-bottom: 1px solid #32415e;
}

._js-open-menu .sublist-group__title {
  display: block;
}

.sublist-group__row {
  padding-left: 63px;
}

._js-open-menu .sublist-group__row {
  padding-left: 56px;
}

.sublist-group__row:not(:last-child) {
  margin-bottom: 19px;
}

.sublist-group__link {
  color: #ffffff;
  font-family: "SegoeUI", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.14px;
  -webkit-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

.sublist-group__link:hover {
  color: #02c3c8;
}

.sublist-group:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  background-color: #02c3c8;
  -webkit-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
}

._js-open-menu .sublist-group:before {
  display: none;
}

/* end sublist-group */

/* total */

.total {
  background-color: #ffffff;
  padding-right: 24px;
  padding-left: 19px;
}

.total .table__row {
  padding: 14px 13px 13px 14px;
}

.total .table__cell {
  color: #12213e;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.69px;
  text-transform: uppercase;
}

.total .table__cell:nth-child(1) {
  padding-left: 0;
}

.total .table__cell:nth-child(2) {
  padding-left: 2px;
}

.total .table__cell:nth-child(3) {
  margin-left: -2px;
}

.total .table__cell:nth-child(4) {
  padding-left: 1px;
}

.total .table__cell:nth-child(5) {
  padding-left: 2px;
}

.total .table__cell:nth-child(6) {
  margin-left: 0;
}

/* total end */

@media screen and (max-width: 991px) {
  .filter-drop {
    height: 75vh;
    padding-bottom: 74px;
  }

  .filter-drop__btn {
    padding: 20px 0;
  }

  .filter-drop__col-narrow {
    display: block;
    max-width: 45%;
  }

  .filter-drop__col-wide {
    display: block;
    max-width: 55%;
    padding-left: 2%;
  }

  .filter-drop__checkbox-list {
    max-width: none;
    height: auto;
  }

  .filter-drop__checkbox-list + .filter-drop__checkbox-list {
    margin-top: 7px;
  }
}

@media screen and (max-width: 767px) {
  .filter-drop__select-list {
    padding-right: 2%;
  }

  .filter-drop__select-list:last-child {
    padding-right: 0;
  }

  .total .table__cell {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .controls__calendar {
    padding-right: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1330px) {
  .filter-drop__col-narrow {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 45%;
    -ms-flex: 1 0 45%;
    flex: 1 0 45%;
    max-width: 45%;
  }

  .filter-drop__col-wide {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 55%;
    -ms-flex: 1 0 55%;
    flex: 1 0 55%;
    max-width: 55%;
    padding-left: 2%;
  }

  .filter-drop__select-list {
    padding-right: 2%;
  }

  .filter-drop__select-list:last-child {
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .total .table__cell {
    font-size: 12px;
  }
}

@media screen and (max-height: 800px) {
  .sidebar__list-group {
    padding-top: 10px;
  }
}