/* SVG FONTS */
@font-face {
	font-family: 'icomoon';
	src:  url('../../fonts/svg-fonts/fonts/icomoon.eot?vu86xw');
	src:  url('../../fonts/svg-fonts/fonts/icomoon.eot?vu86xw#iefix') format('embedded-opentype'),
	url('../../fonts/svg-fonts/fonts/icomoon.ttf?vu86xw') format('truetype'),
	url('../../fonts/svg-fonts/fonts/icomoon.woff?vu86xw') format('woff'),
	url('../../fonts/svg-fonts/fonts/icomoon.svg?vu86xw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon {
	display: inline-block;
	transition: color .25s ease-in-out;
}
.icon-arrow-drop-top:before {
	content: "\e900";
	//color: #02c3c8;
}
.icon-dotdotdot:before {
	content: "\e901";
	//color: #02c3c8;
}
.icon-filter:before {
	content: "\e902";
	//color: #8898a0;
}
.icon-plus:before {
	content: "\e903";
	//color: #fefefe;
}
.icon-search:before {
	content: "\e904";
	//color: #58666e;
}
.icon-sidemenu-button:before {
	content: "\e905";
	//color: #a2a9b8;
}
.icon {
	transition: color .15s ease-in-out;
}
/* SVG FONTS END */