/* datepicker */
.datepicker {
	padding: 0;
	width: 543px;
	box-shadow: 0 9px 21px rgba($shadow-basic-dark, 0.15);
	border-radius: 4px;
	background-color: $negative;
	&__select {
		font-size: 0;
		padding: 22px 20px 18px;
		border-top: 1px solid $bg-lighten;
		border-bottom: 1px solid $bg-lighten;
	}
	&__bottom {
		padding: 25px 23px 23px 19px;
		display: flex;
		align-items: center;
	}
	&__cancel {
		margin-left: auto;
		margin-right: 15px;
		display: inline-block;
		color: $input-text;
		line-height: 2;
		transition: color .25s ease-in-out;
		
		&:hover {
			color: $info;
		}
	}
	&__info {
		color: $input-text;
		font-family: $font-basic-900;
		
		&_one {
			padding-right: 23px;
			position: relative;
			
			&:after {
				content: '';
				position: absolute;
				right: 6px;
				top: 5px;
				width: 9px;
				transform: rotate(-90deg);
				height: 6px;
				background: url(../../../img/svg/icon-open-arrow.svg) no-repeat center top;
			}
		}
		&_two {
			position: relative;
			
			&:after {
				position: absolute;
				content: '';
				top: 0;
				right: -33px;
				width: 1px;
				height: 16px;
				background-color: $border;
				z-index: 1;
			}
		}
	}
	&__btn {
		min-width: 80px;
		padding: 8px 15px;
		border-radius: 4px;
		background-color: $info;
		font-size: 16px;
		text-transform: uppercase;
		color: $negative;
		text-align: center;
		font-family: $font-basic-900;
		transition: background-color .25s ease-in-out;
		
		&:active, &:focus {
			color: $negative;
		}
		
		&:hover {
			background-color: $info-hover;
		}
	}
	&__text {
		display: inline-block;
		color: $light;
		font-size: 14px;
		font-weight: 400;
		padding-right: 13px;
	}
	&__default {
		display: inline-block;
		font-family: $font-basic-700;
		font-size: 12px;
		text-transform: uppercase;
		color: $info;
		transition: color .25s ease-in-out;
		
		&:not(:last-child){
			padding-right: 26px;
		}
		
		&:hover {
			color: $light;
		}
		
		&:last-child {
			padding-right: 0;
		}
	}
}
/* end datepicker */