.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1;
    font-family: $font_segoeUI;
    border-radius: 4px;
    box-shadow: 0 9px 21px rgba($shadow-basic-dark, 0.15);
    transition:
            background-color .25s ease-in-out,
            color .15s ease-in-out;
    
    &-sm {
        padding : 8px;
    }
    
    &-md {
        padding: 8px 15px;
    }
    
    &-lg {
        padding : 12px 17px;
        font-size : 16px;
    }
    
    &-primary {
        background-color: $info;
        color: $negative;
        
        &:hover {
            background-color: $info-hover;
        }
    }
    
    &-light {
        background-color: $negative;
        color : $light;
        
        &:hover {
            color : $dark;
            
            .icon {
                color : $dark;
            }
        }
    }
}