/* input */
.input {
	width: 100%;
	max-width: 200px;
	height: 34px;
	cursor: pointer;
	position: relative;
	border-radius: 4px;
	border: 1px solid $border;
	transition: border-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	background-color: $negative;
	font-family: "SegoeUI", sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	color: $input-text;
	
	label {
		display: block;
		width: 100%;
		height: 100%;
		
		input {
			display: block;
			width: 100%;
			height: 100%;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	
	&::placeholder {
		font-family: "SegoeUI", sans-serif;
		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
		color: $input-text;
	}
	
	&:hover {
		border-color: #c5c3d8;
	}
}
/* input end */