/* controls */
.controls {
	&__nav-tabs {
		padding-right : 15px;
	}
	&__bar {
		display: flex;
		align-items: center;
		padding-top: 11px;
	}
	&__calendar {
		position: relative;
		padding-right: 28px;
		margin-right: 34px;
		
		@media screen and(min-width: 768px) and(max-width: 1024px){
			padding-right: 15px;
			margin-right: 15px;
		}
		
		&:after {
			position: absolute;
			content: '';
			top: 4px;
			right: 0;
			z-index: 1;
			width: 1px;
			height: 16px;
			background-color: rgba($dark, .2);
		}
	}
}
/* controls end */
