/* footer */
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	padding-left: 240px;
	transition: padding-left .25s ease-in-out;
	
	._js-open-menu & {
		padding-left: 80px;
	}
	
	&__pagination {
		background-color: $bg-lighten;
		text-align: right;
		padding: 16px 24px 16px 18px;
	}
}
/* end footer */