/* header */
.header {
	position         : absolute;
	left             : 0;
	right            : 0;
	top              : 0;
	z-index          : 4;
	padding-left     : 240px;
	display          : flex;
	height           : 64px;
	box-shadow       : 0 9px 21px rgba($shadow-basic-dark, 0.3);
	background-color : $bg-basic-layout;
	transition       : padding-left .25s ease-in-out;
	
	._js-open-menu & {
		padding-left : 80px;
	}
	
	&__wrap {
		flex-grow       : 2;
		display         : flex;
		align-items     : center;
		justify-content : space-between;
		padding-left    : 29px;
		padding-right   : 23px;
		transition      : padding-left .25s ease-in-out;
		
		._js-open-menu & {
			padding-left : 69px;
		}
	}
	&__left {
		display     : flex;
		//padding-top : 3px;
	}
	&__title {
		color          : $negative-mud;
		font-family    : $font-basic-900;
		font-size      : 20px;
		font-weight    : 400;
		line-height    : 15.69px;
		text-transform : uppercase;
		letter-spacing : 2px;
	}
	&__right {
		display     : flex;
		align-items : center;
		height      : 100%;
	}
	&__user {
		height : 100%;
	}
	&__notification {
		margin-right : 12px;
		height       : 100%;
	}
}

/* header end */