/* FONTS */
@font-face {
	font-family: 'SegoeUI-Bold';
	src:
			url('../../../fonts/segoeUI-bold/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/segoeUI-bold/SegoeUI-Bold.woff') format('woff'),
			url('../../../fonts/segoeUI-bold/SegoeUI-Bold.ttf')  format('truetype'),
			url('../../../fonts/segoeUI-bold/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SegoeUI-Italic';
	src:
			url('../../../fonts/segoeUI-italic/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/segoeUI-italic/SegoeUI-Italic.woff') format('woff'),
			url('../../../fonts/segoeUI-italic/SegoeUI-Italic.ttf')  format('truetype'),
			url('../../../fonts/segoeUI-italic/SegoeUI-Italic.svg#SegoeUI-Italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SegoeUI';
	src:
			url('../../../fonts/segoeUI-regular/SegoeUI.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/segoeUI-regular/SegoeUI.woff') format('woff'),
			url('../../../fonts/segoeUI-regular/SegoeUI.ttf')  format('truetype'),
			url('../../../fonts/segoeUI-regular/SegoeUI.svg#SegoeUI') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'SegoeUI-Semibold';
	src:
			url('../../../fonts/segoeUI-semibold/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/segoeUI-semibold/SegoeUI-Semibold.woff') format('woff'),
			url('../../../fonts/segoeUI-semibold/SegoeUI-Semibold.ttf')  format('truetype'),
			url('../../../fonts/segoeUI-semibold/SegoeUI-Semibold.svg#SegoeUI-Semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto-Bold';
	src:
			url('../../../fonts/roboto_bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/roboto_bold/Roboto-Bold.woff') format('woff'),
			url('../../../fonts/roboto_bold/Roboto-Bold.ttf')  format('truetype'),
			url('../../../fonts/roboto_bold/Roboto-Bold.svg#Roboto-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Light';
	src:
			url('../../../fonts/roboto_light/Roboto-Light.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/roboto_light/Roboto-Light.woff') format('woff'),
			url('../../../fonts/roboto_light/Roboto-Light.ttf')  format('truetype'),
			url('../../../fonts/roboto_light/Roboto-Light.svg#Roboto-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src:
			url('../../../fonts/roboto_regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/roboto_regular/Roboto-Regular.woff') format('woff'),
			url('../../../fonts/roboto_regular/Roboto-Regular.ttf')  format('truetype'),
			url('../../../fonts/roboto_regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Medium';
	src:
			url('../../../fonts/roboto_medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
			url('../../../fonts/roboto_medium/Roboto-Medium.woff') format('woff'),
			url('../../../fonts/roboto_medium/Roboto-Medium.ttf')  format('truetype'),
			url('../../../fonts/roboto_medium/Roboto-Medium.svg#Roboto-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* FONTS END*/

/* VAR FONTS */
$font_segoeUI_bold: 'SegoeUI-Bold', sans-serif;
$font_segoeUI_semiBold: 'SegoeUI-Semibold', sans-serif;
$font_segoeUI: 'SegoeUI', sans-serif;
//$font_segoeUI_italic: 'SegoeUI-Italic', sans-serif;

$font_roboto_bold: 'Roboto-Bold', sans-serif;
//$font_roboto_regular: 'Roboto-Regular', sans-serif;
//$font_roboto_light: 'Roboto-Light', sans-serif;
//$font_roboto_medium: 'Roboto-Medium', sans-serif;

$font-basic-700: $font_segoeUI_bold;
$font-basic-700: $font-basic-700 !default;

$font-basic-900: $font_segoeUI_semiBold;
$font-basic-900: $font-basic-900 !default;

$font-basic: $font_segoeUI;
$font-basic: $font-basic !default;

$font-secondary-700: $font_roboto_bold;
$font-secondary-700: $font-secondary-700 !default;
/* VAR FONTS END */