/* nav-tabs */
.nav-tabs {
	font-size: 0;
	
	&__item {
		display: inline-block;
		vertical-align: top;
		
		&:not(:last-child){
			position: relative;
			padding-right: 27px;
			margin-right: 31px;
			
			&:after {
				position: absolute;
				content: '';
				top: 23px;
				left: 100%;
				width: 1px;
				height: 16px;
				background-color: rgba($dark, .2);
			}
		}
		&.padding-publishers {
			padding-right: 34px;
			margin-right: 33px;
		}
	}
	&__link {
		display: block;
		border-bottom: 2px solid transparent;
		color: $input-text;
		font-family: $font-basic;
		font-size: 24px;
		font-weight: 400;
		line-height: 2.2;
		transition: border .25s ease-in-out, color .25s ease-in-out;
		
		&.active {
			color: $bg-basic-layout;
			border-bottom-color: rgba($bg-basic-layout, .76);
		}
		&:hover {
			color: $bg-basic-layout;
		}
	}
}
/* nav-tabs end */