/* notification */
.notification {
	position: relative;
	display: inline-flex;
	align-items: center;
	padding : 0 20px;
	
	&__icon {
		color : $negative;
		font-size: 19px;
		transition: color .15s ease-in-out;
		
		.active & {
			color: $info;
		}
	}
	&__count {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: calc(100% - 20px);
		margin-top : -7px;
		color : $negative;
		font-family: $font-secondary-700;
		font-size: 13px;
		font-weight: 700;
		line-height: 1;
		transition: color .15s ease-in-out;
		
		.active & {
			color: $info;
		}
	}
}
/* notification end */