/* pagination */
.pagination {
	display: inline-flex;
	align-items: center;
	
	&__prev {
		margin-right: 2px;
	}
	&__next {
		margin-left: 12px;
	}
	&__btn {
		display: inline-block;
		width: 24px;
		height: 24px;
		line-height: 24px;
		text-align: center;
		border-radius: 4px;
		background-color: transparent;
		transition:
				background-color .25s ease-in-out,
				box-shadow .25s ease-in-out;
		
		&:hover {
			background-color: $negative;
			box-shadow: 0 9px 21px rgba($shadow-basic-dark, 0.15);
		}
		
		.icon {
			color: $info;
			font-size: 12px;
		}
		
	}
	&__calc {
		
		span {
			color: $info;
			font-family: $font-basic-700;
			font-size: 14px;
			font-weight: 700;
			line-height: 15.69px;
			vertical-align: middle;
		}
	}
	&__current {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		text-align: center;
		border: 1px solid $border;
		
		& + span {
			margin-left: 6px;
		}
	}
	&__all {
		margin-left: 3px;
	}
}
/* pagination end */