/* scoreboard */
.scoreboard {
	border: 1px solid $border-primary;
	background-color: $bg-primary;
	
	&__row {
		white-space: nowrap;
		display: flex;
	}
	
	&__item {
		opacity: 1;
		visibility: visible;
		height: auto;
		position: relative;
		padding-bottom: 19px;
		width: 50%;
		transition: opacity .25s ease-in-out .25s,
		visibility .25s ease-in-out .25s,
		padding .25s ease-in-out,
		height .25s ease-in-out;
		
		&:first-child{
			padding-left: 22px;
		}
		
		&:last-child {
			padding-left: 11px;
			
			._js-open-menu & {
				opacity: 0;
				visibility: hidden;
				transition: opacity .25s ease-in-out,
				visibility .25s ease-in-out;
			}
		}
	}
	&__subtitle {
		padding-left: 1px;
		margin-bottom: 1px;
		color: rgba($negative, .3);
		font-family: $font-basic-900;
		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
		text-transform: uppercase;
		
		&--menu-max {
			display: block;
			
			._js-open-menu & {
				display: none;
			}
		}
		&--menu-min {
			display: none;
			white-space: nowrap;
			
			._js-open-menu & {
				display: block;
			}
		}
	}
	&__number {
		font-size: 0;
		white-space: nowrap;
		align-items: center;
	}
	&__integer {
		display: inline-block;
		min-width: 29px;
		margin-right: 3px;
		color: $negative;
		font-family: $font-basic-900;
		font-size: 20px;
		font-weight: 400;
		line-height: 20px;
		vertical-align: baseline;
	}
	&__percent {
		color: inherit;
		font-family: $font-basic-900;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		text-transform: uppercase;
		vertical-align: baseline;
		visibility: visible;
		opacity: 1;
		transition: opacity .25s ease-in-out,
		visibility .25s ease-in-out;
		
		.scoreboard__number_positive & {
			color: $success;
		}
		.scoreboard__number_negative & {
			color: $danger;
		}
		
		._js-open-menu & {
			opacity: 0;
			visibility: hidden;
		}
		
	}
	&__time {
		.scoreboard__integer {
			letter-spacing: 0.2px;
		}
	}
	&__change-menu-max {
		display: inline-block;
		
		._js-open-menu & {
			display: none;
		}
	}
	&__change {
		position: absolute;
		left: 7px;
		top: 2px;
		opacity: 0;
		visibility: hidden;
		transition: opacity .25s ease-in-out,
		visibility .25s ease-in-out;
		
		._js-open-menu & {
			opacity: 1;
			visibility: visible;
		}
		
		.icon {
			font-size: 6px;
		}
		
		&_negative {
			top: 6px;
			color: $danger;
			transform: rotate(180deg);
		}
		&_positive {
			color: $success;
		}
	}
}
/* scoreboard end */